body {
    margin:0;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background: linear-gradient(150deg, #2e0249, #1c1c3c);
    color:white;
    text-align:center;
}
.container{
    padding: 10px;
}
.logo1{
    width: 100px;
    border-radius: 10px;
    
    
}
header{
    display:flex;

    align-items: center;
    padding: 40px;
}
.btn-white{
    background: white;
    color: black;
    border-radius: 15px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 700;
    align-items:left;
    margin-right: 10px;
    margin-left: 1150px;
    padding: 10px 30px;
    font-size: 15px;
    
}
.btn-orange{
    background: orange;
    color: white;
    border-radius: 15px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 700;
    padding: 10px 30px;
    font-size: 15px;
}
h1{
    font-size: 4em;
}
.highlight{
    color:orange;
}
p{
    font-size: 1em;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    
}
.btn-orange1{
    background: orange;
    color: white;
    border-radius: 15px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 700;
    padding: 10px 30px;
    font-size: 15px;
    margin-top: 7px;
}
.image{
    margin-top: 25px;
    border-radius: 10px;
}
